.nav{
    display: flex;
    gap: 0.5rem;
    background-image: url("../../../public/kyou-logo.webp");
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
    
    max-width: 100%;

    a{
        text-decoration: none;
        color: white;
    }
}